<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>668327257400-pl454baeqg8rjtuh3pnlr77vmm9gu4ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668327257400-pl454baeqg8rjtuh3pnlr77vmm9gu4ua</string>
	<key>API_KEY</key>
	<string>AIzaSyA0s_dNc9wvl08a5YHqjSLcTHLVbAuMGUw</string>
	<key>GCM_SENDER_ID</key>
	<string>668327257400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielharris.Swerve</string>
	<key>PROJECT_ID</key>
	<string>swerve-b367b</string>
	<key>STORAGE_BUCKET</key>
	<string>swerve-b367b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668327257400:ios:bc8c6e4667cea766</string>
	<key>DATABASE_URL</key>
	<string>https://swerve-b367b.firebaseio.com</string>
</dict>
</plist>